<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Study app
    body
        header
            //- span(class="logo") Smyrnov Konstantin - The best Junior Frontend Developer
            ul 
                li 
                    a(href="index.html")  About Me
                li 
                    a(href="contact.html") Contacts
                li 
                    a(href="porfolio.html") My Works
        main
            block main

        footer
            div    
                block footer

