<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Study app
    body
        header 
            div(class="header")
                div. 
                    <span> Hello, my name is Kostya Smirnov.</span> <br> My dream/goal in life is to become a 
                    professional frontend developer. This is my portfolio site.
                div(class="button") View my work <span class="arrow"><span> ➔

        main
            div(class="aboutMe")
                div(class="welcome")
                    h2 Technologies that i use:
                    ul
                        li HTML5 + CSS3
                        li SCSS
                        li Pug
                        li JavaScript + jquery
                        li Github
                        li WebPack
                
            div(class="works") 
                h3 Completed projects
                div(class="projects")
                    div
                        a(href="#") 
                            div(class="name") Photographer portfolio
                        img(src=("./img/Photographer_Portfolio.jpg"), alt="Photographer site portfolio")
                            
                    div
                        a(href="#") 
                            div(class="name") Photographer portfolio
                        img(src=("./img/Photographer_Portfolio.jpg"), alt="Photographer site portfolio")
                    //- a(href="#") 
                    //-     div(class="name") Photographer portfolio()
                    //- img(src=("./src/img/Photographer_Portfolio.jpg"), alt="Photographer site portfolio")


            
                

            div(class="works") 
                h3 Projects  in development
                div(class="projects")
                    div
                        a(href="#") 
                            div(class="name") Site portfolio for photographer
                        img(src=("./img/no_image_available.jpg"), alt="Photographer site portfolio")
                

            div(class="works") 
                ul Future projects:
                    li Online store 
                        ul What should be on the site: 
                            li Browse by category
                            li Filtration by price, date, etc.
                            li Admin panel
                            li The ability to conveniently push products by category
                            li Feedback form
                    li Site portfolio for photographer


        div(id="scrollPage")

        footer

            div(class="footer")
                span(class="icon telegram")
                span(class="icon facebook")
                span(class="icon github")
                div(class="scrollTop")    
                    span UP!  
                

        
                
